/* Desktops, laptops */
@media only screen and (max-width: 1200px) {
    .section-h2 {
        margin: 0 10px;
    }

    .section-h2 h2 {
        text-align: center;
    }

    section.latest__newsletter {
        padding: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .section-h2 h2 {
        text-align: center;
    }

    /** upcomming events section**/
    .upcoming-events {
        padding: 0 50px;
    }

    /** DONS SECTION **/
    .news-left .news-text {
        width: 100%;
    }

    section.latest__newsletter {
        padding: 0;
    }

    .latest__newsletter .container-xl {
        flex-direction: column;
        padding: 0;
        margin: 10px;
        width: 100%;
    }

    .latest__newsletter .row .row__content {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 960px) {
    /** utilities **/
    .text-xxl {
        font-size: 2.5rem;
    }

    /** navbar **/
    .navbar .nav__menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block !important;
        line-height: 0;
    }

    .navbar .mobile-menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    /** UTILITIES **/
    .section-h2 {
        margin: 0 10px;
    }

    .section-h2 h2 {
        text-align: center;
        font-size: 28px;
    }

    .section-h5 {
        text-align: center;
    }

    /** map section **/
    .dynamic__map #map {
        height: 400px !important;
    }

    .dynamic__map .container-xl .cont {
        grid-template-columns: 100%;
        grid-gap: 15px;
        margin: 0;
        padding: 10px;
        overflow: hidden;
    }

    .dynamic__map .container-xl {
        margin: 10px;
    }

    .cont-left .cont-header .headd {
        margin: 0 10px;
    }

    .dynamic__map {
        padding: 0;
    }

    .ville-amies__container2 h3.content__title {
        font-size: 14px;
        line-clamp: 2;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .ville-amies__container2 .content {
        height: auto;
    }

    .ville-amies__container2 .content .content__info {
        margin: 10px auto;
    }

    .ville-amies__container2 .content .btn-btnlinnk {
        position: absolute;
        padding: 8px 10px;
        bottom: 0;
        right: 0;
    }

    .ville-amies__container2 .content .btn-btnlinnsk:after {
        content: 'voir';
    }

    /** SOCIAL MEDIA SECTION **/
    .sm__posts2 {
        padding: 20px;
    }

    .sm__posts2 .grid-post__grids {
        grid-template-areas:
            'pos1 pos1 pos7'
            'pos1 pos1 pos6'
            'pos3 pos4 pos5'
            'pos8 pos2 pos2'
            'pos9 pos2 pos2';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .sm-post_sub {
        justify-content: center;
    }

    .sm-post_sub .sm-socials {
        margin-top: 30px;
    }

    .sm__posts2 .section-h2 span {
        font-size: 30px;
    }

    /** DONS SECTION **/
    .latest__newsletter .container-xl {
        flex-direction: column;
        padding: 0;
        margin: 10px;
        width: 100%;
    }

    .latest__newsletter .row .row__content {
        display: flex;
        flex-direction: column-reverse;
    }

    .bg-shape {
        display: none;
    }

    .news-left,
    .news-left_wrapper,
    .news-right {
        width: 100%;
        height: 575px;
    }

    /** BENEVOLA1 SECTION **/
    .benevola1-wrapper {
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }

    .benevola1-wrapper .benevola1__title {
        width: 100%;
    }

    .benevola1-wrapper .benevola1__title p {
        font-size: 26px;
    }

    .dodo {
        width: 100%;
        padding: 0;
        height: 300px;
        border-radius: 0;
    }

    .benevola1 {
        padding: 0;
        gap: 0;
    }

    .dodo .benevola1__title p {
        font-size: 26px;
    }

    .benevola1-btn {
        padding: 18px 70px;
    }

    /** NEWSLETTER SECTION **/
    .ucf-newsletter {
        padding: 0 20px;
    }

    /** upcomming events section**/
    .upcoming-events-left {
        height: 400px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .upcoming-events-left .section-h2 h2 {
        font-size: 28px;
    }

    .upcoming-events-left .title__under {
        margin: 0 auto;
    }

    .upcoming-events-left .te {
        position: initial;
        display: flex;
        flex-direction: column;
        width: 100%;
        /*margin: 0 20px;*/
    }

    .upcoming-events-right {
        flex: 0;
    }

    .events-item-part .event-desc {
        display: none;
    }
}

@media only screen and (max-width: 670px) {
    .hero .container {
        background: url('../images/hero-bg-mobile.png') no-repeat;
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }

    .hero .hero-content,
    .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    .testimonials .testimonials-heading {
        max-width: 100%;
        text-align: center;
    }

    .testimonials .testimonials-grid,
    .pricing .pricing-grid,
    .footer .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer .card {
        margin-right: 0;
    }

    .footer .footer-grid > div {
        text-align: center;
    }

    /* Text */
    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }

    .donation .container {
        flex-direction: column;
    }

    .donation .donation-body {
        width: 100%;
    }

    .donation .donation-content {
        margin-top: 25px;
        padding: 25px 0;
    }

    .donation .donation-text {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    /*.section-h2 h2 {
        text-align: center;
        font-size: 36px;
    }*/

    /** upcoming events section **/

    .upcoming-events {
        padding: 0 !important;
    }

    .upcoming-events .bg-shape {
        display: none;
    }

    .upcoming-events-container {
        padding: 0;
    }

    .event-desc p {
        display: none;
    }

    .news-left_wrapper::before {
        display: none;
    }

    .upcoming-events-left {
        width: 100%;
    }

    .upcoming-events-right {
        width: 100%;
    }

    .upcoming-events-row {
        margin-right: 0;
        margin-left: 0;
    }

    /** social media section **/
    .sm__posts2 .bg-shape {
        width: 100px;
        left: 50%;
        display: none;
    }

    /** benevolat section **/
    .benevola1 .bg-shape-1 {
        /*width: 200px;*/
        right: 0;
        top: 0;
        transform: scale(0.6) rotate(90deg);
        z-index: -1;
    }

    .benevola1 .bg-shape-1 svg {
        width: 100%;
        height: 100%;
    }

    .benevola1 .bg-shape-2 {
        transform: scale(1.1) rotate(90deg);
        left: 50px;
        z-index: -1;
    }

    .benevola1 .bg-shape-2 svg {
        width: 100%;
        height: 100%;
    }

    .benevola1-wrapper {
        overflow: hidden;
    }
}

/** Mobile phones **/
@media only screen and (max-width: 500px) {
    .text-xxl {
        font-size: 2rem;
    }

    /** give slider **/
    section.give2 {
        padding: 0 0px 10px 10px;
    }

    /* dons section */
    section.latest__newsletter {
        padding: 0;
    }

    .news-left {
        border-radius: 15px;
    }

    .news-left .news-btn-container {
        bottom: 90px;
    }

    .news-left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
    }

    .news-left .news-text {
        /*margin: 0 50px*/
    }

    .news-left .news-text p {
        font-size: 18px;
        text-align: center;
    }

    .news-left .news-btn-container {
        position: inherit;
        bottom: initial;
    }

    .news-left .news-btn-container button {
        padding: 16px 100px;
    }

    .news-left .news-text {
        width: 100%;
    }

    .news-right {
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 5px;
        margin-top: 90px;
    }

    .news-right .box {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .news-right .box .box-text {
        margin: 0 0 0 20px;
    }

    .news-right .box .box-img-wrapper {
        width: 100px !important;
        height: 100px !important;
        margin: auto 0;
        object-fit: cover;
    }

    .news-right .box .box-img-wrapper img {
        width: 100%;
    }

    .news-right .box .box-text-num span {
        font-weight: 800;
        font-size: 1.1rem;
    }

    /** footer **/

    .footer-social_icon-wrapper {
        justify-content: center;
    }

    .newsletter__card {
        height: 300px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer_news_head span {
        font-size: 16px !important;
    }

    .footer_news_head p {
        margin-top: 20px;
        font-size: 14px;
    }

    .btn-primary {
    }

    .footer-bottom {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: center;
    }

    .footer-bottom,
    .footer_bottom-link {
        font-size: 14px;
    }

    .footer_bottom-right {
        margin-top: 10px;
    }

    .footer_bottom-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_bottom-link {
        margin: 0 5px;
    }

    /* newsletter section */
    .ucf-newsletter {
        padding: 0 !important;
    }
    .ucf-newsletter .container-xl {
        margin: 50px 0 !important;
    }
    .ucf-oth-content .date {
        font-size: 12px;
    }
    .ucf-oth-content a {
        font-size: 14px;
    }

    /* benev section */

    section.devBenev {
        padding: 0;
    }

    section.devBenev a.benev__btn {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .header-item-right .btn {
        /*font-size: 13px;
        padding: 13px 16px;*/
        font-size: 12px;
        padding: 9px 9px;
        /*margin-right: -120px;*/
    }

    .header-item-left .nav-logo img {
        width: 150px;
    }

    .nav-container {
        justify-content: space-between;
    }

    /** ucf newsletter **/

    .ucf-articles {
        padding: 0 !important;
        border: 0 !important;
        width: 100%;
    }

    .ucf-other-articles {
        margin: 0;
    }

    .ucf-header p {
        font-size: 12px;
    }

    .ucf-title p {
        font-size: 14px !important;
    }

    .ucf-description {
        font-size: 12px;
    }

    /** upcoming events **/
    .upcoming-events {
        padding: 0 20px;
    }

    .upcoming-events-row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .upcoming-events-left {
        width: 100%;
    }

    .upcoming-events-right {
        width: 100%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1300px) {
    .upcoming-events {
        padding: 0 50px;
    }

    section.latest__newsletter {
        padding: 30px;
    }

    .latest__newsletter .news-right {
        justify-content: flex-end !important;
    }

    /** social media section **/
    .sm__posts2 {
        padding: 0 100px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1040px) {
    .header-item-right .btn {
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    .temp-hero__bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .temp-hero__bottom a:last-of-type {
        margin: 0 0 0 10px;
    }
}

@media only screen and (max-width: 900px) {
    .upcoming-events-row {
        flex-direction: column !important;
        flex-wrap: wrap;
    }
}
